<nb-layout>
 <nb-layout-header></nb-layout-header>
 <nb-layout-column>
   <div class="row">
      <div class="col-md-12">
        <div class="row show-grid">
          <div class="col-md-7">
            <nb-card>
              <nb-card-header>

                  <input type="text" nbInput style="width:100%;max-width: 44rem;"  placeholder="Cari...">

              </nb-card-header>
            </nb-card>

            <div class="row show-grid">
              <div class="col-md-4">
                <nb-card class="card-barang" >
                  <nb-card-body>
                    <div class="c-text">
											<div style="font-size: 12px;"><b></b></div>
											<div><b></b></div>
                      <div style="text-align: right;"><b></b></div>
                      <div style="text-align: right;"><b></b></div>
                    </div>
                    <!-- <div class="c-harga">
											<span class="c-primary" style="text-align: right;"><b>{{b.harga_jual | currency:'Rp. ':'symbol':'.0'}},-</b></span> ({{b.stok > 0? b.stok : '0'}})
										</div> -->
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
            <div class="progress-loading">
              <div class="progress">
                  <div class="indeterminate"></div>
              </div>
              <p>Fetching data...</p>
            </div>
          </div>
          <div class="col-md-5">
            <div id="content_right_wrapper">
              <div id="content_right">
                <div class="row" id="div_member_wrapper">
                  <div class="col-xs-12 col-sm-12" id="div_kode_penjualan">
                    <label>PJW25062020-WNI-0001</label>
                  </div>
                  <div class="col-xs-12 col-sm-12" id="div_member_content">
                    <div class="" id="div_member_image"></div>
                    <div class="" id="div_member_desc"></div>
                    <input type="hidden" value="" id="penjualan_idpelanggan">
                  </div>
                </div>
                <nb-tabset >
                  <nb-tab >
                    <div class="row default-skin" id="div_cart_wrapper" style="height: 368px;" >
                      <div class="" id="div_cart_empty" style="">
                        Keranjang Belanja saat ini masih kosong.
                      </div>

                    </div>
                    <div >
                    <div >
                    <nb-card col-12 >
                      <nb-card-body  >
                        <div class="kel-barang">
                        <div style="flex: 1;"><b></b></div>
                        <div class="c-jumlah">
                          <div class="add-min" >-</div>
                          <input  class="ion-input" type="number"  >
                          <input type="hidden" >
                          <div class="add-min">+</div>
                          <div class="hapus"><nb-icon icon="trash-2-outline"></nb-icon></div>
                        </div>
                       </div>
                      </nb-card-body>
                      <nb-card-footer>
                        <div style="display: flex; font-size: 9pt;">
                          <div style="flex: 1;">Harga Satuan </div>
                          <!-- <div style="margin-left: 10px; display: flex; align-items: center;">
                            <span style="text-decoration: line-through;">{{bb.harga_asli }},-</span>
                          </div> -->
                          <b class="c-primary" style="margin-left: 10px;">,-</b>
                        </div>
                        <div style="display: flex;">
                          <b style="flex: 1;">Sub Total</b>
                          <div style="margin-left: 10px; display: flex; align-items: center;">
                            <b class="c-primary" style="margin-left: 10px;">,-</b>
                          </div>
                        </div>
                      </nb-card-footer>
                    </nb-card>
                    </div>
                  </div>
                  </nb-tab>
                  <nb-tab >

                        <nb-card size="medium">
                          <nb-card-header>
                            INFO NOTA
                          </nb-card-header>
                          <nb-card-body>
                            <div class="form-horizontal">
                                <div class="form-group row">
                                  <label for="inputEmail3" class="label col-sm-3 form-control-label">No Faktur</label>
                                  <div class="col-sm-9">
                                    <input type="text" nbInput fullWidth >
                                  </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                  <label for="inputPassword3" class="label col-sm-3 form-control-label">Tanggal</label>
                                  <div class="col-sm-9">
                                    <input type="text" nbInput fullWidth>
                                  </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                  <label for="inputPassword3" class="label col-sm-3 form-control-label">Operator</label>
                                  <div class="col-sm-9">
                                    <input type="text" nbInput fullWidth>
                                    <input type="hidden" nbInput fullWidth>
                                  </div>
                                </div>
                                <!-- <hr />
                                <div class="form-group row">
                                  <label for="inputPassword3" class="label col-sm-3 form-control-label">Pengemas</label>
                                  <div class="col-sm-9">
                                    <input type="text" nbInput fullWidth  >
                                  </div>
                                </div> -->
                                <hr />
                                <div class="form-group row">
                                  <label for="inputPassword3" class="label col-sm-3 form-control-label">Nama Pelanggan</label>
                                  <div class="col-sm-9">
                                    <input type="text" nbInput fullWidth >
                                  </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                  <label for="inputPassword3" class="label col-sm-3 form-control-label">Alamat Pelanggan</label>
                                  <div class="col-sm-9">
                                    <input type="text" nbInput fullWidth style="color: #000;" disabled>
                                  </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                  <label for="inputPassword3" class="label col-sm-3 form-control-label">No Tlp Pelanggan</label>
                                  <div class="col-sm-9">
                                    <input type="text" nbInput fullWidth style="color: #000;" disabled>
                                  </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                  <label for="inputPassword3" class="label col-sm-3 form-control-label">Catatan</label>
                                  <div class="col-sm-9">
                                    <input type="text" nbInput fullWidth >
                                  </div>
                                </div>
                            </div>
                          </nb-card-body>
                        </nb-card>
                  </nb-tab>
                </nb-tabset>
                <nb-card>
                  <nb-card-body>
                    <div class="row" id="div_total_wrapper">
                      <button type="button" class="btn btn-success btn-lg btn-block" style="font-size: 24px;">,- </button>

                    </div>
                    <div class="row" id="div_proses_wrapper">
                      <div class="col-xs-4" id="div_proses_batal" style="width: 50%;">
                        <button type="button"  class="btn btn-warning btn-lg btn-block">Batal </button>
                      </div>
                      <div class="col-xs-4" id="div_simpan_sementara" style="width: 50%;">
                        <button type="button" class="btn btn-info btn-lg btn-block"  [nbSpinner]="simpanLoading" nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="Loading...."><div *ngIf="!simpanLoading">Simpan </div>

                        </button>
                      </div>

                    </div>
                  </nb-card-body>
                </nb-card>
              </div>

            </div>

          </div>
          </div>
        </div>

    </div>
</nb-layout-column>
</nb-layout>
